.button {
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, 0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on
}

.button:active,
.button:focus {
    outline: 0;
    color: rgba(0, 0, 0, .84)
}

.button:hover {
    color: rgba(0, 0, 0, .68);
    border-color: rgba(0, 0, 0, .54)
}

.button--large,
.button--large.button--chromeless,
.button--large.button--link {
    font-size: 17px
}

.button--large.button--circle {
    width: 45%;
    height: 200px;
    padding: 0
}

.button--circle {
    padding: 0;
    width: 37px;
    text-align: center;
    border-radius: 100%
}

.button--withChrome {
    height: 37px;
    line-height: 35px;
    padding: 0 16px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 999em
}


.button--withChrome.button--large {
    height: 180px;
    padding: 0 18px;
    line-height: 42px
}

.button--withChrome:active,
.button--withChrome:focus {
    border-color: rgba(0, 0, 0, .68)
}

.button.button--withIcon.is-active>.button-activeState,
.button.button--withIcon>.button-defaultState {
    display: inline-block;
    vertical-align: top
}

.button--withSvgIcon .svgIcon {
    top: -1px;
    position: relative
}

.clapButton .svgIcon--clap,
.clapButton .svgIcon--clapFilled,
.clapButton:hover .svgIcon--clap,
.clapButton:hover .svgIcon--clapFilled {
    fill: #03a87c;
    color: #34e79a
}

.clapButton:disabled .svgIcon--clap,
.clapButton:disabled .svgIcon--clapFilled {
    fill: #000!important;
    color: #000!important
}

.clapButton--largePill:hover+.clapUndo,
.clapUndo:hover {
    transform: translateX(30px)
}


.clapButton--largePill:not(.is-active)+.clapUndo {
    display: none
}


.clapButton--largePill:active+.clapUndo {
    transform: translateX(0);
    transition: transform .2s cubic-bezier(.25, 0, .6, 1.4)
}

.clapButton--largePill.is-active {
    background: #fff;
    color: #03a87c
}


.clapButton--largePill.is-active:hover,
.clapButton--largePill:hover {
    border-color: #03a87c;
    color: #03a87c;
    fill: #03a87c
}

.clapButton--largePill:focus {
    border-color: rgba(0, 0, 0, .3)
}

.clapButton--largePill:focus .svgIcon {
    color: #03a87c;
    fill: #03a87c
}

.clapButton--largePill.is-active .button-activeState .svgIcon--clap,
.clapButton--largePill.is-active .button-activeState .svgIcon--clapFilled {
    fill: #03a87c;
    color: #03a87c
}

.clapButton:disabled .svgIcon--clap,
.clapButton:disabled .svgIcon--clapFilled {
    fill: #000!important;
    color: #000!important
}

.clapButton--largePill:not(.is-active):hover {
    animation: pulse-shadow--collection 2s infinite
}

.clapButton--largePill.clap-onboarding {
    animation: pulse-shadow--onboarding 3s infinite
}

.clapButton--largePill.clap-onboardingcollection {
    animation: pulse-shadow--onboarding-collection 3s infinite
}

.clapButton--largePill:active,
.clapButton--largePill:hover {
    animation: none
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 #34e79a
    }
    70% {
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@keyframes pulse-shadow--collection {
    0% {
        box-shadow: 0 0
    }
    70% {
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@keyframes pulse-shadow--onboarding {
    0% {
        box-shadow: 0 0 0 0 #34e79a
    }
    30% {
        box-shadow: 0 0 0 0 #34e79a
    }
    80% {
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@keyframes pulse-shadow--onboarding-collection {
    0% {
        box-shadow: 0 0
    }
    30% {
        box-shadow: 0 0
    }
    80% {
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

